<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>リンク</title>
    <link rel="stylesheet" type="text/css" href="/site_media/js/ext/resources/css/ext-all.css"/>

    <link rel="stylesheet" type="text/css" href="/site_media/js/ext/resources/css/xtheme-olive.css" />

    <!-- LIBS -->
    <script type="text/javascript" src="/site_media/js/ext/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="/site_media/js/ext/ext-all.js"></script>
    <script type="text/javascript" src="/site_media/js/ext/ext-lang-ja.js"></script>

    <script type="text/javascript" src="/site_media/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/site_media/css/forms.css"/>

    <!-- Common Styles for the examples -->
    <link rel="stylesheet" type="text/css" href="/site_media/css/examples.css"/>
</head>
<body>
</body>
</html>
